:root {
	// Colors
	--color-bg-primary: #07073a;
	--color-text-primary: #fff;
	--color-typescript: #0074c2;
	--color-white: #fff;

	// Font Size
	--font-size-normal: 1rem;
	--font-size-heading-1: 2.625rem;
	--font-size-heading-2: 2.063rem;
	--font-size-heading-3: 1.625rem;
	--font-size-heading-4: 1.25rem;
	--font-size-heading-5: 1rem;
	--font-size-heading-6: 0.813rem;

	// Container
	--container-max-width: 75rem;
	--container-padding-x: 1.5rem;
}
